/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
/* Selector Universal */

/* Estilos del contenedor */
.container_w{
    background-color: #c2c2c2;
    width: 100%;
}

.container{
    background-color:#507756;
    width: 80%;
    margin: auto;
}
/* Estilos de header */
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0;

    .logo{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .img{
            margin: 5px;
            width: 20%;
            h1{
                font-family: Georgia,;
                text-align: center;
                color: #fff;
            }
        }
        
    }

    .nav{

        display:flex ;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: #fff;
                    padding: 10px;
                    font-family: "Open Sans", sans-serif;
                }
            }
        }

    }
}
/* Estilos de main */
main {
    .galeria{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        img{
            margin: 10px;
        }
    }
    h1{
        padding: 20px;
        font-family: "Lilita One", sans-serif;
        font-style: normal;
        color: #507756;
    }
}
/* Estilos de aside */
aside{
    padding: 30px;
    background-color: #739b79;
    color:#000000;
    article {
        h2{
            font-size: 30px;
            padding: 20px;
            font-family: "Lilita One", sans-serif;
            font-style: normal;
            color: #507756; 
           
        }
        h3{
            font-size: 20px;
            padding: 15px;
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            color: #000000;
        }
        p{
            text-align: justify;
            font-family: "Open Sans", sans-serif;
            padding: 15px;
            font-size: 20px;
        }
    }
}
/*Estilo footer*/
footer{
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    color: #000000;
}
/* Estilos para los enlaces en el footer */
footer a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para los enlaces en el hover */
footer a:hover {
    text-decoration: underline;
}

			
			* {
				margin:0px;
				padding:0px;
			}
			
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#507756;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}